<!DOCTYPE html>
<html lang="en" class="Gibbu_@hotmail.com">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <title>Voter Details</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/details.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 

</head>
<body>

<div id="container">
  <div id="inputContainer">
    <div class="infoContainer">
      <form method="POST">
        {% csrf_token %}
        <h1>Fill Supervisor's Details</h1>
        <div class="formContainer">
            <div class="formDiv" style="transition-delay: 0.2s">
            <p>USERNAME</p>
            <input type="text" required="" name="Name"/>
          </div>
          <div class="formDiv" style="transition-delay: 0.2s">
            <p>PARTY NAME</p>
            <input type="text" required="" name="Party_Name"/>
          </div>
          <div class="formDiv" style="transition-delay: 0.2s">
            <p>CONSTITUENCY</p>
            <input type="text" required="" name="Constituency"/>
          </div>
          <div class="formDiv" style="transition-delay: 0.4s">
            <p>YEAR</p>
            <input type="text" required="" name="Year"/>
          </div>
          <div class="formDiv" style="transition-delay: 0.4s">
            <p>DESCRIPTION</p>
            <input type="text" required="" name="Description"/>
          </div>
            <button class="acceptBtn" type="submit">
                <a>SUBMIT</a>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <script  src="./script.js"></script> --> 
<script>
    setTimeout(function() {
      const infoContainer = document.querySelector('.infoContainer');
      infoContainer.style.height = 'auto';
      setTimeout(function() {
        infoContainer.classList.add('loadIn');
        setTimeout(function() {
          const formElements = document.querySelectorAll('.formDiv, form h1');
          formElements.forEach(function(element) {
            element.classList.add('loadIn');
          });
        }, 500);
      }, 500);
    }, 800);
</script>
</body>
</html>