<!DOCTYPE html>
<html lang="en" class="Gibbu_@hotmail.com">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 

</head>
<body>

<div id="container">
    <div class="supervisor_table">
        <h1>Supervisor</h1>
        <table>
            <thead>
              <tr>
                <th>Supervisor Name</th>
                <th>Constituency</th>
                <th>Action</th>                
              </tr>
            </thead>
            <tbody>
              {% for supervisor_data in list_of_supervisors %}
              <tr>
                <td>{{ supervisor_data.1 }}</td>
                <td>{{ supervisor_data.2 }}</td>
                <td>
                    <button class="reject">
                      <a href="http://localhost:8000/delete/{{supervisor_data.0}}/">
                        Remove
                      </a>  
                    </button>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
      
    <div class="voter_table">
        <h1>Voters</h1>
    <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Contact Number</th>
            <th>Constituency Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for voter_data in voters_list %}
          <tr>
            <td>{{ voter_data.First_Name }}</td>
            <td>{{ voter_data.Last_Name }}</td>
            <td>{{ voter_data.Date_of_Birth }}</td>
            <td>{{ voter_data.Contact_Number }}</td>
            <td>{{ voter_data.Constituency_Name }}</td>
            <td>
                <button class="reject">
                  <a href="http://localhost:8000/reject_voter/{{ voter_data.Voter_Card_Number}}">
                    Reject
                  </a>
                </button>
                <button class="approve">
                  <a href="http://localhost:8000/approve_voter/{{ voter_data.Voter_Card_Number }}">
                    Approve
                  </a>
                </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
<!-- <script  src="./script.js"></script> -->

</body>
</html>
