<!DOCTYPE html>
<html lang="en" class="Gibbu_@hotmail.com">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 

</head>
<body>
  <div class="nav">
    <div class="logo">
      <img src="{% static 'images/vote.png' %}" alt="logo">
    </div>
    <div class="logout">
      <button class="logout_btn"><a href="/">Logout</a></button>
    </div>
  </div>
<div id="container">
      
    <div class="info">
        <h1>Your Details</h1>
        <p><b>Voter Card Number:</b> &nbsp;&nbsp;{{ details.Voter_Card_Number}}</p>
        <p><b>First Name:</b> &nbsp;&nbsp;{{ details.First_Name}}</p>
        <p><b>Last Name :</b> &nbsp;&nbsp;{{ details.Last_Name}}</p>
        <p><b>Email :</b> &nbsp;&nbsp;{{ more_details.Email}}</p>
        {% comment %} <p><b>DOB:</b> &nbsp;&nbsp;{{ details.Date_of_Birth}}</p> {% endcomment %}
        <p><b>Contact_Number:</b> &nbsp;&nbsp;{{details.Contact_Number}}</p>
        {% comment %} <p>Last_Login: {{more_details.Last_Login}}</p> {% endcomment %}
        <p><b>Registered On: </b> &nbsp;&nbsp;{{more_details.Registration_Date}}</p>       

    </div>
    <div class="candidates">
      <h1>Candidates Of Your Constituency</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Party Name</th>
              <th>Year</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for candidate in candidates %}
            <tr>
              <td>{{ candidate.name }}</td>
            <td>{{ candidate.party_name }}</td>
            <td>{{ candidate.election_year }}</td>
            <td>{{ candidate.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

</body>
</html>
